#circulor--preto {
  width: 100px;
  height: 100px;
  border-radius: 600px;
  background: black;
  position: relative;

  animation-name: movimento; /* Aqui eu dou o nome da animação */
  animation-duration: 2s; /* Tempo de duração da animação */
  animation-iteration-count: infinite; /* Contagem de iteração */
  animation-timing-function: linear; /* Função de tempo da animação */
  animation-direction: normal; /* Direção da animação */
}
#circulor--vermelho {
  width: 100px;
  height: 100px;
  border-radius: 600px;
  background: red;
  position: relative;

  animation-name: movimento; /* Aqui eu dou o nome da animação */
  animation-duration: 2s; /* Tempo de duração da animação */
  animation-iteration-count: infinite; /* Contagem de iteração */
  animation-timing-function: linear; /* Função de tempo da animação */
  animation-direction: normal; /* Direção da animação */
  animation-delay: .25s;
}
#circulor--pink {
  width: 100px;
  height: 100px;
  border-radius: 600px;
  background: green;
  position: relative;

  animation-name: movimento; /* Aqui eu dou o nome da animação */
  animation-duration: 2s; /* Tempo de duração da animação */
  animation-iteration-count: infinite; /* Contagem de iteração */
  animation-timing-function: linear; /* Função de tempo da animação */
  animation-direction: alternate; /* Direção da animação */
  animation-delay: .5s;
}

@keyframes movimento {
    0% { /* PONTO DA ANIMAÇÃO */
       left: 0px;
       top: 0px;
       background-color: blue;
    }
    25% { 
         left: 500px;
         top: 500px;
         background-color: pink;
    }
    50% { 
         left: 500px;
         top: 0px;
         background-color: pink;
    }
    75% { 
         left: 0px;
         top: 500px;
         background-color: pink;
    }
    100% { /* PONTO FINAL DA ANIMAÇÃO */
       left: 0px;
       top: 0px;
       background-color: blue;
    }
}